<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Заказ</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>


<body class="d-flex h-100 text-center text-bg-dark" >
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Donuts</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Features</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <div class="container mt-5">
    <h1>Ваш заказ принят!</h1>
    <p><b>Ожидайте звонка оператора</b></p>
    <p class="lead">
      <a href="/" class="btn btn-lg btn-light fw-bold border-white bg-white">На Главную</a>
    </p>
  </div>

  <footer class="mt-auto text-white-50">
    <p>Best wishes! by <a href="https://github.com/Uliana0000" class="text-white">@Uliana</a>.</p>  </footer>
</div>
<img src="https://psv4.userapi.com/c240331/u323118166/docs/d57/5c2eae168c16/donut_4.jpg?extra=FR6dRRRyHLmesTq50chQZ2VwbTivb1KXCjWcSLyhUV87FaNmaIfdvPBUxica4Cy3CAck82QtKrIg6MH8ZQtPfmymnx98ToYXolH8EWk_Q0OeV_uRP5vGNiPscmIUL8MXqZP-AL6SlOkdHgCo-nxvc57cNQ"/>
</body>
</html>